@import url('https://fonts.googleapis.com/css2?family=Norican&family=Averia+Serif+Libre:wght@700&family=Rampart+One&display=swap');

:root {
  --primary: rgb(5, 133, 207) ;
  --gray: #f3f4f6;
  --black: #06070a;
}

body {
  display: block;font-family: 'Averia Serif Libre', cursive;
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 85%;
  left: 7%;
  text-align: center;
  color: var(--black);
}

.main-heading {
  color: var(--primary);
  padding-top: 2rem;
  font-family: 'Averia Serif Libre', cursive;
}

hr {
  margin: 2rem 0;
}

label {
  padding: 15px;
}

.text-sm {
  font-size: 0.8rem;
}

/** containers **/
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

/** links **/

.primary-link {
  /* font-size: 1.1rem; */
  font-weight: 600;
  text-decoration: none;
  color: var(--primary);
  width: max-content;
  border: 1px solid var(--primary);
  min-width: 140px;
  border-radius: 1.5rem;
  padding: 0.7rem 1.5rem;
}

.s-link {
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-image:  linear-gradient(to right,rgb(0, 157, 248) , rgb(61, 210, 255));
  width: max-content;
  min-width: 140px;
  border-radius: 1.5rem;
  padding: 0.7rem 1.5rem;
}

.s-link:hover,
.primary-link:hover {
  box-shadow: 0px 4px 6px 0 var(--primary);
}

/** nav **/

.navigation {
  background-image:  linear-gradient(to right,rgb(0, 157, 248) , rgb(82, 243, 255));
  background-color: var(--primary);
  padding: 1rem 0rem;
  color: white;
  border-bottom-left-radius: 2rem;
}

.brand {
  text-align: left;
  margin: 1rem;
  padding-top:1rem ;
  font-family: 'Norican', cursive;
  font-size: 2rem;
}

.navigation ul {
  list-style: none;
  text-align: right;
}

.navigation li {
  display: inline-block;
  padding: 0 1rem;
  margin-right: 2rem ;
}

.navigation a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.navigation a:hover {
 text-shadow: 0 1px rgb(255, 255, 255);
}

.navigation .active {
  font-weight: bolder;
}

/** header **/

.hero {
  color: var(--black);
}

.hero img {
  max-width: 450px;
  margin: auto;
  padding-top: 60px;
}

/** section **/

.section {
  margin: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 2rem;
  line-height: 2rem;
}

.section h2 {
  text-align: center;
  font-family: 'Rampart One', cursive;
}

.section p {
  padding-bottom: 14px;
}

.ow {
  box-shadow: 2px 2px rgb(0, 190, 238);
  background-color:rgb(193, 237, 255);
}

/** lists **/

.unordered {
  list-style: none;
}

.list-inline li {
  display: inline;
  padding: 0.7rem 0.5rem;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image:  linear-gradient(to right,rgb(0, 157, 248) , rgb(153, 248, 255));
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}


/** footer **/
.footer {
  background-color: var(--primary);
  color: white;
  padding: 1rem 0rem;
  margin-top: 2rem;
  border-top-right-radius: 2rem;
  text-align: center;
}
.footer .heading {
  font-weight: bold;
  font-size: larger;
  padding-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

/* blog  */

.blog-list{
  display: flex;
  flex-direction: row;
  padding: 4%;
}

.blogbox{
  width: 88%;
}

.bloghead{
  font-size: 2.6rem;
}

.blogs {
  color: var(--black);
}

.blogs h2 {
  font-size: 2rem;
  font-family: 'Rampart One', cursive;
}

small {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.blog-img {
  width: 50%;
}

.para-blog,
.list {
  text-align: start;
  padding: 4rem 5rem 0;
  font-size: 1.1rem;
}

.syntax {
  background-color: rgb(31, 29, 29);
  display: block;
  width: 40%;
  padding: 0.5rem;
  margin: 0.5rem;
  color: rgb(255, 255, 255);
}
